[Desktop Entry]
Version=1.0
Type=Application
Name=Seria
Comment=Multimodal Data Editing for Game Writers
Exec=seria %F
Icon=seria
Terminal=false
Categories=Office;TextEditor;Utility;
MimeType=text/csv;text/comma-separated-values;
Keywords=csv;editor;spreadsheet;data;

# Actions for right-click menu
Actions=NewWindow;

[Desktop Action NewWindow]
Name=Open New Window
Exec=seria
